@font-face {
    font-family: Roboto;
    src: url("fonts/Roboto-Regular.ttf");
}

body {
    height: 100vh;
}

.main-container {
    margin-top: 36px;
    box-shadow: 10px -0px 40px rgba(0, 0, 0, 0.3);
    font-family: Roboto, sans-serif;
    color: #071013;
}

#left-column,
#right-column {
    padding: 0 !important;
    background-color: #FFFFFF;
}

/* phone portrait */
@media only screen and (min-width : 320px) and (max-width : 479px) {

}

/* phone landscape */
@media only screen and (min-width : 480px) and (max-width : 767px) {
    .main-container {
        margin: 0;
        padding-left: 10px;
    }
}

/* tablet */
@media only screen and (min-width : 768px) and (max-width : 991px) {
    .main-container {
        width: 100%;
        margin: 0;
        padding-left: 10px;
    }
}

/* desktop - medium */
@media only screen and (min-width : 992px) and (max-width : 1199px) {
    .main-container {
        margin: 0;
    }

    .about-me-text {
        margin-right: 40px;
    }
}

/* desktop - large */
@media only screen and (min-width : 1200px) {
    .main-container {
        max-width: 55%;
        margin: 40px auto;
    }
}

/* left column top section */
.photo-wrapper {
    border: 4px solid #508484;
    border-radius: 50%;
    padding: 4px;
    margin: 50px 0 30px 0;
}

.profile-photo {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    border: 2px solid #508484;
}

.name-section {
    border-bottom: 2px solid #508484;
}

.name {
    font-size: 30px;
    display: block;
    text-align: center;
    line-height: 40px;
    font-weight: 600;
}

.job-title {
    padding-top: 14px;
    padding-bottom: 30px;
}

/* left column bottom section */
.bottom-section {
    height: 600px;
}

.zoom-hover {
    transition: all 0.3s;
}

.zoom-hover:hover {
    transform: scale(1.03);
}

/* personal info container */
.personal-info-container {
    border-bottom: 2px solid #508484;
    font-weight: 800;
}

.personal-info-list {
    list-style: none;
    width: 100%;
    height: 150px;
    margin: 24px auto;
    padding-left: 34px;
    line-height: 24px;
}

.image-wrapper {
    height: 28px;
    width: 28px;
    background-color: #508484;
    border-radius: 100%;
    margin: 1px 0;
}

.personal-info-list img {
    max-height: 20px;
    max-width: 20px;
    background-color: #508484;
}

.personal-info-list span{
    font-size: 13px;
    padding-left: 6px;
}

/* languages and skills container */
.languages-container {
    border-bottom: 2px solid #508484;
}

.languages-content,
.skills-content {
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    margin: 24px auto;
}

/* header */
#left-column .header {
    height: 40px;
    width: 100%;
}

.left-side-bar {
    border-left: 6px solid #508484;
    height: 100%;
}

.title-icon {
    margin-left: 28px;
    height: 28px;
    width: 28px;
    background-color: #508484;
    border-radius: 100%;
}

.title-icon img {
    max-width: 20px;
    max-height: 20px;
}

#left-column .title span {
    padding-left: 6px;
    font-size: 14px;
    font-weight: bold;
}

/* list */
.languages-list ul,
.skill-list ul {
    list-style: none;
    height: 70px;
    margin: 0;
    padding: 0 50px 0 68px;
}

.skill-list ul {
    height: 120px;
}

.languages-list span,
.skill-list span {
    height: 100%;
    font-size: 11px;
    line-height: 24px;
}

.level-bar {
    height: 13px;
    width: 80px;
    border: 2px solid #508484;
    border-radius: 6px;
    padding: 1px;
}

.filling-level {
    border-radius: 6px;
    height: 100%;
    background-color: #508484;
}

/* languages setting filling level */
.romanian .filling-level {
    width: 100%;
}

.english .filling-level {
    width: 70%;
}

.french .filling-level {
    width: 25%;
}

/* skills setting filling level*/
.html .filling-level {
    width: 80%;
}

.css .filling-level {
    width: 80%;
}

.java .filling-level {
    width: 70%;
}

.javascript .filling-level {
    width: 50%;
}

.git .filling-level {
    width: 60%;
}

/* right column */
/* headers */
#right-column .header {
    height: 60px;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 20px;
    font-weight: 900;
}

.icon-border {
    border: 3px solid #508484;
    padding: 3px;
    border-radius: 50%;
    margin: 0 16px;
}

.header-icon {
    height: 44px;
    width: 44px;
    background-color: #508484;
    border-radius: 50%;
}

.header-icon img {
    max-height: 30px;
    max-width: 30px;
}

/* list */
.right-column-list {
    padding: 0;
    list-style: none;
    font-size: 14px;
}

.right-column-list li {
    margin: 4px 0;
}

.item-list {
    margin-right: 20px;
}

.item-list-header {
    height: 30px;
    text-transform: uppercase;
}

.dot-outline {
    height: 16px;
    width: 18px;
    border: 2px solid #508484;
    border-radius: 50%;
    margin: 0 10px 0 36px;
}

.dot {
    height: 6px;
    width: 6px;
    background-color: #508484;
    border-radius: 50%;
}

.institution-name {
    font-size: 12px;
    display: block;
    width: 50%;
    font-weight: 600;
}

.date-start-finish {
    display: block;
    width: 50%;
    font-size: 11px;
    border-left: 2px solid #508484;
    padding-left: 20px;
    margin-left: 20px;
}

.item-list-content {
    margin-left: 42px;
    padding-right: 40px;
    border-left: 3px solid #508484;
}

.item-list-content span {
    display: block;
    margin-left: 18px;
    font-weight: 500;
}

.last-list-item {
    border-left: none;
}

.about-me-container {
    margin: 42px 0;
}

.about-me-text p {
    font-size: 14px;
    text-indent: 40px;
    margin: 0 30px 0 44px;
    font-weight: 600;
}

.education-container {
    margin: 16px 0;
}

.experience-container {
    margin: 16px 0;
}